@import "src/styles/vars";

$transitionTime: .25s;

.order-button {
  padding: .5rem 2rem;
  font-size: 1.7rem;
  background-color: darken($secondary, 30);
  margin-bottom: 1rem;
  margin-top: 2rem;

  &:hover {
    background-color: darken($secondary, 45);
  }
}

.order-button--disabled {
  background-color: grey !important;
  cursor: not-allowed;
}

.invalid-input {
  input, select {
    background-color: $lightErrorColor !important;
    border-color: $errorColor !important;

    &:focus {
      box-shadow: 0 0 0 4px $lightErrorColor !important;
    }
  }

  label {
    color: $errorColor !important;
  }
}

.input-box {
  .info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: .3rem;

    p {
      color: $errorColor;
      font-weight: 500;
    }

    label {
      font-size: 1.2rem;
      font-weight: 500;
      display: block;
      transition: color $transitionTime;
    }
  }

  input, select {
    border-radius: .8rem;
    border: 2px solid $background;
    width: 50%;
    transition: background-color $transitionTime, border $transitionTime;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px $primaryTint;
    }

    @media(max-width: 1200px) {
      width: 100%
    }

    display: block;
    background-color: $primaryLighter;
    flex-grow: 1;
    padding: .5rem;
    font-size: 1rem;
    font-family: inherit;
    margin-bottom: 1rem;
  }
}
