@import "src/constants";

.button {
  background: $primary;
  border: none;
  padding: 1rem 3rem;
  border-radius: 20rem;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.5rem;
  transition: background-color .3s;
  color: inherit;
  display: flex;
  align-items: center;
  gap: .6rem;

  &:hover, &:active {
    background: $primaryTint;
  }
}
