@import "vars";

.link {
  color: $lightText;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  line-height: 1.1;
  background-image: linear-gradient($primaryLighter, $primaryLighter);
  background-position: bottom left;
  background-size: 0 2px;
  background-repeat: no-repeat;
  transition: background-size .3s, background-position 0s .3s, color .3s;

  &:hover, &:active {
    color: $primaryLighter;
    background-position: bottom right;
    background-size: 100% 2px;
  }
}

.button {
  background: $primary;
  border: none;
  padding: 1rem 3rem;
  border-radius: 20rem;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.5rem;
  transition: background-color .3s;
  color: #0f170b;
  display: flex;
  align-items: center;
  gap: .6rem;
  text-decoration: none;

  &:hover, &:active {
    background: $primaryTint;
  }

  @media(max-width: 762px) {
    font-size: 1.3rem;
    padding: .8rem 2.5rem;
  }
}

.container {
  padding-block: 8rem;
  padding-inline: 10rem;

  @media(max-width: 1543px) {
    padding: 5rem;
  }

  @media(max-width: 762px) {
    padding: 3rem;
  }
}
