$background: #2C272E;

$darkText: #333;
$lightText: #eee;
$primary: #9AE66E;
$primaryShade: #0f170b;
$primaryTint: #aeeb8b;
$primaryLighter: #cdf3b7;
$secondary: #C7F8FF;
$errorColor: lighten(red, 12);
$lightErrorColor: lighten($errorColor, 25);
